/* Include the padding and border in an element's total width and height */

  

* {
    box-sizing:  border-box; 
    font-family: 'Roboto Slab', serif;
  }
  
  #myDIV{
    margin-top: 3.75rem;
    margin-left: 5.625rem;
    margin-right: 5.625rem;
    border-radius: 15px 15px 0px 0px;
    border-top:2px solid #48bef0;
    border-left:2px solid #48cef0;
    border-right:2px solid #48c0f0;
    
  }
 h1{
    font-size: 32px;
    font-family: 'Pacifico', cursive;
  }
 
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    margin-left: 5.625rem;
    margin-right: 5.625rem;
    padding: 0;
    list-style: none;
    border-bottom:2px solid #48c3f0;
    border-left:2px solid #48c3f0;
    border-right:2px solid #48bbf0;
    border-radius: 0px 0px 15px 15px;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #cc4084;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(even) {
    background: #715f9aeb;
    
  }
  ul li:nth-child(odd) {
    background: rgb(230, 127, 127);
    
  }
  ul li:last-child {
    border-radius: 0px 0px 15px 15px;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #bd109218;
  }
  
  
  ul li.checked {
    background-image: linear-gradient(to right,#12e0f7, #756d97);
    opacity: 0.8;/* When clicked on, add a background color and strike out text */
    color: #ec8686;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #ed8972;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 14px 10px 14px;
  }
  
  .close:hover {
    background-color: #ef7a7a;
    border-radius: 50px;
    color: rgb(211, 173, 173);
  }
  
  /* Style the header */
  .header {
    background-image: linear-gradient( to right,#41def6e9, #66628e);
    opacity: 0.8;
    padding: 30px 40px;
    color: white;
    text-align: center;
   
   
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 7px 0px 0px 7px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #41d2f6;
    color: #7168ac;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px 7px 7px 0px;
  }
  
  .addBtn:hover {
   opacity: 0.2;
    }

    h3{
      text-align: center;
    }
    h3 a{
      text-decoration: none;
      color:#6f6690;
    }